.btn-selected {
    -fx-background-color: rgba(255, 255, 255, 0.15);
}

.btn-unselected {
    -fx-background-color: rgb(27, 75, 118);
}

.table-view {
    -fx-font-size: 20px;
}

.table-view.cell {
    -fx-text-alignment: center;
}

.table-view .column-header,
.table-view .column-header .filler,
.table-view .column-header .label,
.table-view .column-header-background .filler {
    -fx-background-color: #03a8f8;
    -fx-text-fill: white;
}

.btn-green {
    -fx-background-radius: 3;
    -fx-border-radius: 3;
    -fx-background-color: rgba(151,191,45,1);
    -fx-padding: 10px 20px;
    -fx-text-alignment: center;
    -fx-text-fill: white;
}

.btn-green:hover {
    -fx-background-color: linear-gradient(to top, rgb(123, 163, 44) 2%, rgb(151,191,45) 70%);
}

.btn-add {
    -fx-background-radius: 30;
    -fx-border-radius: 30;
    -fx-background-color:  rgba(151,191,45,1);
    -fx-text-alignment: center;
    -fx-text-fill: white;
}

.btn-add:hover {
    -fx-background-color: linear-gradient(to top, rgb(123, 163, 44) 2%, rgb(151,191,45) 70%);
}

.btn-add1 {
    -fx-background-radius: 30;
    -fx-border-radius: 30;
    -fx-background-color:  rgba(0,219,214,1);
    -fx-text-alignment: center;
    -fx-text-fill: #000;
}

.btn-add1:hover {
    -fx-background-color: linear-gradient(to top, rgb(123, 163, 44) 2%, rgb(151,191,45) 70%);
}

.btn-blue {
    -fx-background-radius: 3;
    -fx-border-radius: 3;
    -fx-background-color: rgb(60, 124, 179);
    -fx-padding: 10px 20px;
    -fx-text-alignment: center;
    -fx-text-fill: white;
}

.btn-blue:hover {
    -fx-background-color: linear-gradient(to top, rgb(39, 94, 125) 2%, rgba(60,124,179,1) 70%);;
}

.btn-red {
    -fx-background-radius: 5;
    -fx-border-radius: 5;
    -fx-background-color: rgb(255, 56, 86);
    -fx-padding: 10px 20px;
    -fx-text-alignment: center;
    -fx-text-fill: white;
}

.btn-red:hover {
    -fx-background-color: linear-gradient(to top, rgb(217, 44, 73) 2%, rgb(255, 56, 86) 70%);
}

.basic-button {
    -fx-font-size: 18;
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-background-color:   rgb(69, 69, 69);
}

.basic-button:hover {
    -fx-background-color: #fff;
    -fx-text-fill: black;
    -fx-border-color:rgb(69, 69, 69);
}


.prediction-button{

    -fx-background-color:#08CBB3;
    -fx-font-size: 18;
    -fx-font-weight: bold;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
}

.prediction-button:hover {
    -fx-background-color: #fff;
    -fx-text-fill: black;
    -fx-border-color:#08CBB3;
}

.titulo{
    -fx-border-radius: 50px;
    -fx-background-radius: 10px;
}


.btn-orange{
    -fx-background-radius: 5;
    -fx-border-radius: 5;
    -fx-background-color: rgb(242, 110,62);
    -fx-padding: 10px 20px;
    -fx-text-alignment: center;
    -fx-text-fill: black;
}

.btn-orange:hover {
    -fx-background-color: linear-gradient(to top, rgb(242, 110,62) 2%, rgb(255, 56, 86) 70%);
}

.btn-sky {
    -fx-background-radius: 3;
    -fx-border-radius: 3;
    -fx-background-color: rgba(0,219,214,1);
    -fx-padding: 10px 20px;
    -fx-text-alignment: center;
    -fx-text-fill: black;
}

.btn-sky:hover {
    -fx-background-color: linear-gradient(to top, rgb(0,219,214) 2%, rgb(34,154,178) 70%);
}
